/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Customizations*/

* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 16px;
    background-color: white;
    margin: 0 auto;
}

header {
    background-color: #5b88bf;
    height: 60vh;
    padding: 50px;
}


.brand {

    margin: 40px;
    color: white;
    font-size: 20px;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    float: left;

}


.nav-bar {
    margin: 40px;
    float: right;
}

.nav-bar a {
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Poiret One', cursive;
    font-size: 16px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

h2 {
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Poiret One', cursive;
    font-size: 60px;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

.header-sub {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 16px;
    color: rgb(214, 214, 214);
    text-align: center;
    padding: 5px;
}


.section-one {
    height: 40vh;
    margin-top: 50px;
}

.sect-title {
    font-size: 20px;
    font-family: 'Nanum Myeongjo', serif;
    color: #5b88bf;
    font-weight: bold;
    text-align: left;
    width: 68%;
    padding-bottom: 20px;
}

.sect-col {
    float: left;
    padding: 10px;
    max-width: 18%;
    margin: 1.5% auto;
    margin-left: 150px;
}

.sect-col p {
    color: #a9a9a9;
    font-size: 16px;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.section-one clearfix::before,
.section-one clearfix::after {
    content: "";
    display: table;
}

.section-one clearfix {
    clear: both;
}


.more-btn {
    margin-top: 20px;
    width: 60px;
    height: auto;
    background-color: #5b88bf;
    text-align: center;
}

.more-btn a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.section-two {
    background-color: #5b88bf;
    color: white;
    height: 650px;
    text-align: center;
}

.sect2-header {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 36px;
    text-align: center;
    padding-top: 60px;
    margin-top: 10px;
}


.sect2-subtext {
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    color: white;
    padding-top: 10px;
    font-size: 16px;
}

.sect2-title {
    font-size: 20px;
    font-family: 'Nanum Myeongjo', serif;
}

.sect2-text {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 14px;
    color: rgb(214, 214, 214);

}

.round-photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}


.photo-col {
    border: 1px rgb(215, 212, 212) solid;
    width: 16%;
    height: 350px;
    display: inline-block;
    padding: 20px;
    margin: 1.5% 20px;
}

.photo-col img {
    margin-top: 30px;

}

.section-three {
    text-align: center;
    margin: 0px auto;
}

.sect3-header {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 36px;
    color: #5b88bf;
    text-align: center;
    padding-top: 60px;
    margin-top: 10px;
}

.sect3-subtext {
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    color: #5b88bf;
    padding-top: 10px;
    font-size: 16px;
}


.sect3-container {
    max-width: 35%;
    display: inline-block;
    margin: 40px auto;
    padding: 15px;
}

.sect3-container img {
    max-width: 100%;
    height: 200px;
}

.sect3-title {
    color: #5b88bf;
    font-size: 20px;
    font-family: 'Nanum Myeongjo', serif;
    text-align: left;
    margin-left: 30px;
}

.sect3-text {
    text-align: left;
    width: 90%;
    margin: 5px auto;
    color: #a9a9a9;
    font-size: 16px;
}

hr {
    margin: 10px auto;
    max-width: 90%;
    height: 1px;
    background-color: gainsboro;
    border: none;
}

/* left off here*/
.copy-right {
    float: left;
    margin-left: 90px;
    color: #a8a8a8;
    font-size: 12px;
    font-family: 'Nanum Myeongjo', serif;
}

.social-media {
    float: right;
    margin-right: 90px;
}

.social-media a {
    text-decoration: none;
    padding: 10px;
}